@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  text-decoration: none;
  list-style: none;
  font-family: Poppins, sans-serif;
}

.nav:hover {
  color: #f9004d;
}

.icon:hover {
  color: #f9004d;
  transform: translateY();
  font-size: 16px;
}

.btn:hover {
  color: #f9004d;
  transform: translateY();
}

header {
  position: absolute;
  width: 100%;
}
.top-header{
  position: sticky;
}

.home-bg {
  background-image: url("/Img/bg-image-25.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}

.home-content {
  padding-bottom: 160px;
}

.title-color {
  color: #f9004d;

}

.title {
  font-size: 70px;
  color: #1f1f25;
  font-family: "Montserrat", sans-serif;

}

.sec-img {
  width: 100%;
}

h2 {

  font-family: Poppins, sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.about-content {
  margin-top: 60px;
}

.description {
  color: #9fa0a0;
  font-size: 19px;
}

.content {
  color: #9fa0a0;
}

.data {
  color: #717185;
}

.service {
  background-color: #f5f5f7;
  
}

.card-content {
  margin-top: 30px;
  background-color: #f6f6f6;
  padding: 60px 45px;
  position: relative;
  transition: 0.3s all linear;
  height: 100%;
}

.card-content:hover {
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, .1);
  transform: translateY(-5px);
}

.card-content:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: linear-gradient(90deg, #f61b10, #ef0963);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.card-title {
  color: #f9004d;
}

.card-text1 {
  color: black;
}

.card-content:hover .card-body h5 {
  color: #fff !important;
}
.card-content:hover .card-body p {
  color: #fff !important;

}
.card-content:hover:before {
  opacity: 1;
  visibility: visible;
}
.service-title{
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 8px;
}
.service-text{
  color: #9fa0a0;
}

.latestcard{
  font-size: 24px;
}
h3{
  font-size: 36px;
  font-weight: 500;
}
.counter{
  font-size: 72px;
  color: #ef0963;
  font-weight: 700;
  position: relative;
  
}
.counter::after{
    position: absolute;
    content: "+";
    top: -17px;
    font-size: 40px;
}
.submit-btn{
    background: #f9004d;
    color: #fff;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.submit-btn:hover{
  background: transparent;
    color: #f9004d;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s linear;
    transform: translateY(-5px);
}
.contact-img img{
  width: 600px;
}
.contact-title{
   font-size: 60px;
}
.portfolio-content{
  min-height: 500px;
}
.testimonial-detail{
    font-size: 36px;
    line-height: 58px;
    color: #18181b;
    font-weight: 500;
    padding: 0 9%;
    margin-bottom: 0;
    margin-top: -16px;
    position: relative;
    z-index: 2;
}
.testimonial-detail::before{
    position: absolute;
    width: 197px;
    height: 100%;
    left: 25%;
    top: -50px;
    background-image: url('/Img/image-1.jpg');
    content: "";
    opacity: 1;
    background-repeat: no-repeat;
    z-index: -1;
}
.testimonial-detail::after{
    position: absolute;
    width: 197px;
    height: 202px;
    right: 25%;
    bottom: -115px;
    background-image: url('/Img/image-2.jpg');
    content: "";
    opacity: 1;
    background-repeat: no-repeat;
    z-index: -1;
}
.thmb{
   position: relative;
    display: inline-block;
    transform: scale(1.1);
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
}
.thmb:after {
    width: 13px;
    height: 13px;
    opacity: 1;
    background: #f9004d;
    right: -8.5px;
    top: -8.5px;
    position: absolute;
    content: "";
    border-radius: 100%;
}
.testimonial-bg{
  background-color: #f5f5f7;
}
.footer-img{
  background-image: url('/Img/bg-footer.jpg');
  background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 1;
    height: 400px;
}